@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@media (max-width: 991px) {
    .logotype {
        display: none;
    }

    .rname {
        font-size: 60px !important;
    }

    .aboutUsImg,
    .aboutUs {
        width: 100% !important;
        flex-wrap: wrap;
    }
}

a.navit {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

    transition: 0.5s;
    width: 100px;
    text-align: center;
}

a.navit:hover {
    Box-shadow: 0px 2px 0px 0px #FFD600;
}

.nav-item {
    margin: 0px auto;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;

}

.navbar-toggler:focus-within {
    animation: 1.5s rotate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

button {
    color: #ffffff;
}

form button,
header button {
    color: #ffffff;
    text-align: center !important;
    font-family: 'Open Sans' !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 20px !important;
    padding: 0 30px;
}

form input,
form select,
form textarea {
    resize: none;
    background-color: #E5E5E5 !important;
    transition: 3s all;
}

form input:focus,
form select:focus,
form select:active,
form input:active,
form textarea:focus,
form textarea:active {
    background-color: white !important;
    border: 1px solid #E8C300 !important;

    outline: none !important;
    box-shadow: none !important;
}

.aboutUsImg,
.aboutUs {
    width: 50%;
    flex-wrap: wrap;
}


.back {
    background-image: url('../images/bg-header.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.back-section {
    background-image: url('../images/specialty-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.line {
    width: 60px;
    height: 5.107px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #E8C300;
    border-bottom: 5px solid #FFD600;
}


.specialtiesH {
    color: white;
    text-align: center;
    font-family: Acme;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
}

.bold-spec {
    font-weight: 700 !important;
}

.spec {
    color: #FFF;
    text-align: center;

    /* Caption */
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    /* 116.667% */
    letter-spacing: 6px;
    text-transform: uppercase;
}

.specialties {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    font-weight: 400;
    padding: 0 30px;
}

.aboutH {
    color: #000;
    text-align: center;
    font-family: Acme;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
}

.about {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    line-height: 28px;
    padding: 0 30px;
}

.bold-about {
    font-weight: 700;
}

.wt {
    color: rgba(51, 51, 51, 0.50);
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 100% */
}

.rname {
    color: #FFF;
    text-align: center;
    /* Heading 1 */
    font-family: Acme;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    /* box-shadow: inset 0px -9px 0px 0px #FFD600; */
}

.runame {
    color: #FFF;
    text-align: center;
    /* Caption */
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.btnrn {
    margin: 10px 0;
    display: flex;
    width: 200px;
    height: 60px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.footer-copy {
    color: rgba(255, 255, 255, 0.50) !important;
    text-align: center !important;
    font-family: 'Open Sans' !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 12px !important;
    /* 100% */
}